* {
    box-sizing: border-box;
}

body: {
    font-family: verdana, sans-serif;
    font-size: 100%;
    width: 100%
}

h1 {
    font-family: verdana, sans-serif;
    font-weight: bold;
    font=size: 1em;
    text-align: center;
    float: top;
}

/* h2 is our 'section' header */
h2 {
    font-family: verdana, sans-serif;
    font-weight: bold;
    font-size: 1em;
    padding-bottom: 0.5em;
}

h2:before {
    content: "["
}

h2:after {
    content: "]"
}

p {
    font-family: verdana, sans-serif;
    font-weight: normal;
    padding: 0px;
}

/* Box call-outs (repeated chorus etc) */
.box {
    padding: 2px;
    margin: 1px;
    border: 2px solid black;
    width: 70%;
    max-width: 90%;
}

div.box {
    display: inline-block;
    margin: 0.5em;
    padding: 5px;
}

.box > p {
    margin-top: 0;
    margin-bottom: 1em;
}

.box > p:last-child {
    margin-bottom: 0;
}

.box > h2 {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* End box definitions*/

/* chord styling - auto bold and enclose in ()*/
.chord {
    font-weight: bold;
}
.chord:before {
    content: "("
}
.chord:after {
    content: ")"
}

/* End  chord definitions*/


/* Performance notes etc */
.notes {
    font-weight: bold;
}

.notes:before {
    content: "["
}

.notes:after {
    content: "]";
}


/* Backing vox, italic with () around them */
.vox {
    font-style: italic;
    font-weight: normal;
}
.vox:before {
    content: '(';
}
.vox:after {
    content: ')';
}

/* other block elements */


a {
    text-decoration: none;
    font-family: verdana, sans-serif;
    font-size: 0.8em;
}

a.left {
    float: left;
    padding: 2px;
    margin-left: 1em;
    display: inline-block;
}

a.right {
    float: right;
    margin-right: 1em;
    padding: 2px;
    display: inline-block;
}

a.middle {
    text-align: center;
    padding: 2px;
    display: inline-block;
    margin : auto;
}
