@charset "utf-8";
@import 'ukedown_elements.css';

@page {
    size: A4 portrait;
    margin: 0.5cm;
}

* {
    box-sizing: border-box;
}

html {
    font-family: verdana, "dejavu sans", sans-serif;
    font-size: 10pt;
    height: 100%;
    max-height: 100%;
}

.header {
    page-break-after: always;
    width: 100%;
    left: 0;
}

/* content div, max 2 cols in portrait mode */
.content {
   column-width: 31em;
   column-rule-width: 1px;
   column-rule-style: solid;
   column-rule-color: black;
   column-count: 2;
   -webkit-column-count: 2;
   -moz-column-count: 2;
   column-fill: auto;
   max-height: 730px;
   float: left;
   padding-left: 5px;
   padding-right: 5px;
   width: 90%;
   max-width: 100%;
}

.chords {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: 100%;
    float: right;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    max-height: 30px;
    background: white;
    page-break-after: always;
    display: none;
}

.chordname {
  font-family: Verdana, Helvetica, Sans-Serif;
  text-align: center;
  font-weight: bold;
}

.labels {
  font-size: 0.5em;
  font-family: Verdana, Helvetica, Sans-Serif;
}

/* index page is multi-column*/
.index {
    column-width: auto;
    column-rule-width: 1px;
    column-rule-style: solid;
    column-rule-color: black;
    overflow: auto;
    width: auto;
    margin: auto;
    column-count: 2;
    max-height: 730px;
}

.container {
    max-height: 100%;
    page-break-after: always;
}

.chord_diagram {
    width: 42pt;
}

svg.chord {
    max-width: 42pt;
}
svg.chordname {
  font-family: Verdana, "DejaVu Sans", Helvetica, Sans-Serif;
  text-align: center;
  font-weight: bold;
  font-size: 10pt;
}

svg.labels {
  font-size: 0.5em;
  font-family: Verdana, Helvetica, Sans-Serif;
}
