@charset "utf-8";
@import "ukedown_elements.css";

* {
    box-sizing: border-box;
}

html {
    font-family: verdana, "dejavu sans", helvetica, sans-serif;
    font-size: 1.2vw;
    height: 100vh;
    max-height: 100vh;
}

body {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: auto;
}


h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1em;
    margin: 0;
    padding-top: 0.1em;
    padding-bottom: 0.25em;
}

h2:before {
    content: "[";
}
h2:after {
    content: "]";
}

p {
    padding: 0px;
}

#container {
    max-height: 100vfh;
    display: grid;
    grid-template-columns: auto minmax(min-content, 14vmin);
    grid-template-rows: minmax(10px, min-content) 1fr minmax(1px, max-content);
    grid-template-areas:
        "header chords"
        "content chords"
        "footer footer";
}

.content {
    grid-area: content;
    column-width: 31em;
    column-rule-width: 1px;
    column-rule-style: solid;
    column-rule-color: black;
    column-fill: auto;
    max-height: 90vh;

}

.chord_diagram {
    width: 7vmin;
}

.chords {
    grid-area: chords;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: 100vh;
}

.header {
    grid-area: header;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    max-height: 30px;
    background: white;
}

.index {
    grid-area: 1 / 1 / 3 / 3;
    /*column-count: 3;*/
    column-width: auto;
    column-rule-width: 1px;
    column-rule-style: solid;
    column-rule-color: black;
    overflow: auto;
    width: auto;
    margin: auto;
}

.chordname {
  font-family: Verdana, Helvetica, Sans-Serif;
  text-align: center;
  font-weight: bold;
}

.labels {
  font-size: 0.5em;
  font-family: Verdana, Helvetica, Sans-Serif;
}
