body: {
    font-family: verdana, sans-serif;
    font-size: medium
}

h1 {
    font-family: verdana, sans-serif;
    font-weight: bold;
    font=size: 1.4em
}

/* h2 is our 'section' header */
h2 {
    font-family: verdana, sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

h2:before {
    content: "["
}
h2:after {
    content: "]"
}

p {
    font-family: verdana, sans-serif;
    font-weight: normal;
    padding: 0px;
}

.box {
    padding: 2px;
    margin: 1px;
    border: 2px solid black;
    width: auto
}

div.box {
    display: inline-block;
    padding: 5px;
}

.box > p {
    margin-top: 0;
    margin-bottom: 1em;
}

.box > p:last-child {
    margin-bottom: 0;
}

.chord {
    font-weight: bold;
    before: "(";
    after: ")";
}
.chord:before {
    content: "("
}
.chord:after {
    content: ")"
}
