@charset "utf-8";

body: {
    font-family: verdana, sans-serif;
    font-size: medium
}

h1 {
    font-family: verdana, sans-serif;
    font-weight: bold;
    font=size: 1.1em;
    text-align: center;
}

/* h2 is our 'section' header */
h2 {
    font-family: verdana, sans-serif;
    font-weight: bold;
    font-size: 1em;
}

h2:before {
    content: "["
}
h2:after {
    content: "]"
}

p {
    font-family: verdana, sans-serif;
    font-weight: normal;
    padding: 0px;
}

.box {
    padding: 2px;
    margin: 1px;
    border: 2px solid black;
    width: auto
}

div.box {
    display: inline-block;
    padding: 5px;
}

.box > p {
    margin-top: 0;
    margin-bottom: 1em;
}

.box > p:last-child {
    margin-bottom: 0;
}

.box > h2 {
    margin-top: 0;
    padding-top: 0;
}

.chord {
    font-weight: bold;
}
.chord:before {
    content: "("
}
.chord:after {
    content: ")"
}

.notes {
    font-weight: bold;
}

.notes:before {
    content: "["
}

.notes:after {
    content: "]";
}

.vox {
    font-style: italic;
    font-weight: normal;
}
.vox:before {
    content: '(';
}
.vox:after {
    content: ')';
}

/* PRINT STYLESHEET */
@media print {
    #editableArea {
        display: none
    }
    h1 {
        font-size: 14pt;
        margin-top: 0;
        margin-bottom: 0.5em;
    }
    h2 {
        font-size: 12pt;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    .box > h2 {
        margin-top: 0;
        margin-bottom: 0;
    }

}



