<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <div class="cover">
    <a href="index.html"><img class="cover" width="100%" src="images/{{ cover }}" alt="Songbook Cover Image"/></a>
    </div>
</html>
