<?xml version="1.0" encoding="utf-8"?>
<package xmlns="http://www.idpf.org/2007/opf" prefix="dc: http://purl.org/dc/elements/1.1/"
         version="3.1" xml:lang="en" unique-identifier="uid">
	<metadata xmlns:dc="http://purl.org/dc/elements/1.1/">
		<dc:identifier id="uid">org.karauke.songbook</dc:identifier>
		<dc:title>Karauke Songbook</dc:title>
		<dc:language>en</dc:language>
		<meta property="dcterms:modified">2019-02-22T15:18:00Z</meta>
		<dc:creator>Stuart Sears</dc:creator>
	</metadata>
	<manifest>
		<item id="nav" href="nav.xhtml" media-type="application/xhtml+xml" properties="nav"/>
		<item id="index" href="songs/index.html" media-type="application/xhtml+xml"/>
        {% for s in songs %}<!-- {{ s['title'] }}/{{ s['artist'] }} -->
        <item id="song_{{ s['id'] }}" href="songs/{{ s['filename'] }}" media-type="application/xhtml+xml"/>
        {% endfor %}
        {% for sht in stylesheets %}
        <item id="style_{{ '%03d'|format(loop.index) }}" href="css/{{sht}}" media-type="text/css"/>
        {% endfor %}
        {% for chord in chordlist %}
        <item id="{{ chord }}" href="chords/{{ chord }}.svg" media-type="image/svg"/>
        {% endfor %}
        {% for i in images %}
        <item id="img_{{ '%03d'|format(loop.index)}}" href="images/{{i}}" media-type="image/{{i.split('.')[-1]}}"/>
        {% endfor %}
	</manifest>
    <spine>
    <!-- all elements in logical reading order. Basically a list of songs here -->
        <itemref idref="index"/>
        {% for s in songs -%}
        <itemref idref="song_{{ s['id'] }}"/>
        {% endfor -%}
	</spine>
</package>
