* {
  box-sizing: border-box;
}

body: {
  font-family: verdana, sans-serif;
  font-size: 100%;
  width: 100%;
}

h1 {
  font-family: verdana, sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

/* h2 is our 'section' header */
h2 {
  font-family: verdana, sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 0.5em;
}

h2::before {
  content: "[";
}

h2::after {
  content: "]";
}

p {
  font-family: verdana, sans-serif;
  font-weight: normal;
  padding: 0;
}

/* Box call-outs (repeated chorus etc) */
.box {
  border: 2px solid black;
  margin: 1px;
  max-width: 90%;
  padding: 2px;
  width: 70%;
}

div.box {
  display: inline-block;
  margin: 0.5em;
  padding: 5px;
}

.box > p {
  margin-bottom: 1em;
  margin-top: 0;
}

.box > p:last-child {
  margin-bottom: 0;
}

.box > h2 {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

/* End box definitions */

/* chord styling - auto bold and enclose in () */
.chord {
  font-weight: bold;
}

.chord::before {
  content: "(";
}

.chord::after {
  content: ")";
}

/* End  chord definitions */

/* Performance notes etc */
.notes {
  font-weight: bold;
}

.notes::before {
  content: "[";
}

.notes::after {
  content: "]";
}

/* Backing vox, italic with () around them */
.vox {
  font-style: italic;
  font-weight: normal;
}

.vox::before {
  content: "(";
}

.vox::after {
  content: ")";
}

/* other block elements */

a {
  font-family: verdana, sans-serif;
  font-size: 0.8em;
  text-decoration: none;
}

a.left {
  display: inline-block;
  float: left;
  margin-left: 1em;
  padding: 2px;
}

a.right {
  display: inline-block;
  float: right;
  margin-right: 1em;
  padding: 2px;
}

a.middle {
  display: inline-block;
  margin: auto;
  padding: 2px;
  text-align: center;
}
