@charset "utf-8";
@import 'ukedown_elements.css';

@page {
    size: A4 landscape;
    margin: 0.5cm;

    @bottom-right-corner {
        content: counter(page) "/" counter(pages);
        padding-right: 10px;
        font-size: 0.8em;
        font-style: bold;
    }

    @top-center {
        content: "Karauke Songbook"
    }
}

/*
@page :left {
    @bottom-left-corner {
        content: counter(page) "/" counter(pages);
        padding-right: 10px;
    }
}
*/

* {
    box-sizing: border-box;
}

html {
    font-family: verdana, "dejavu sans", sans-serif;
    font-size: 14px;
}

h1::before {
    counter-increment: page;
}

h1 {
    font-size: 1.2em;
    /* padding-bottom: 0.2em; */
    padding-left: 5px;
}


.header {
    page-break-before: always;
    width: 100%;
    left: 0;
}


/* content div, max 2 cols in portrait mode */
/* portrait in 72dpi is 595x842 pixels */
.content {
   column-width: 50%;
   column-count: 2;
   column-rule-style: solid;
   column-rule-width: 1px;
   column-fill: auto;
   height: 90vh;
   padding: 5px;
   width: 100%;
   max-width: 100%;
   orphans: 0;
}

.content > p {
    padding: 0px;
    margin-top: 0px;
    orphans: 0 ;
}

/* footer  can have SVG background images */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5vh;
    page-break-after: always;
    text-align: center;
}

/* div on the right of the page for chord diagrams, if we want any*/
.chords {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: 590px;
    float: right;
    width: 50px;
    max-width: 100px;
}

/* overflow is a second div for extra chords (10+), appears to the left of the normal chord div */
.overflow {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 590px;
    width: 50px;
    align-items: flex-start;
    float: right;
}

a.middle {
    font-size: 1em;
    text-align: center;
    text-decoration: none;
}

.section_header {
    display: inline-block;
}

/* fixed position at bottom of page for branding images, links etc*/
.footer img {
    max-height: 25px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;

}

.labels {
  font-size: 0.5em;
  font-family: Verdana, Helvetica, Sans-Serif;
}

/* index page is multi-column*/
.index {
    column-width: auto;
    column-count: 2;
    column-rule-width: 1px;
    column-rule-style: solid;
    column-rule-color: black;
    overflow: auto;
    width: auto;
    margin: auto;
    column-count: 2;
    max-height: 490px;
    counter-reset: page
}

.credits {
    font-size: 0.6em;
    font-style: italic;
    text-align: left;
    display: block;
}

.container {
    max-height: 100%;
    page-break-after: always;
}

.chord_diagram {
    width: 48px;
}

.chordname {
  font-family: Verdana, "DejaVu Sans", Helvetica, Sans-Serif;
  text-align: center;
  font-weight: bold;
  font-size: 8px;
  padding: 0;
  margin: 0;
}

svg.labels {
  font-size: 0.5em;
  font-family: Verdana, Helvetica, Sans-Serif;
}
