@charset "utf-8";

@import url("ukedown_inverse.css");

@page {
  background-color: black;
  color: white;
  margin: 0.5cm;
  size: a4 landscape;

  /*  @bottom-right {
    content: counter(page) "/" counter(pages);
    font-size: 0.8em;
    font-weight: bold;
  }

  @top-center {
    content: "Karauke Songbook";
  }
*/
}

* {
  box-sizing: border-box;
}

html {
  background-color: black;
  color: white;
  font-family: verdana, "dejavu sans", sans-serif;
  font-size: 14pt;
}

h1::before {
  counter-increment: page;
}

h1 {
  font-size: 1.2em;

  /* padding-bottom: 0.2em; */
  padding-left: 5px;
  text-align: center;
}

.header {
  left: 0;
  page-break-before: always;
  width: 100%;
}

.branding {
  bottom: 0;
  position: absolute;
  right: 0;
}

.branding img {
  float: right;
  height: 3cm;
  margin-bottom: 5px;
  margin-right: 5px;
}

/* content div, max 2 cols in portrait mode */

/* portrait in 72dpi is 595x842 pixels */
.content {
  column-fill: auto;
  column-rule-style: solid;
  column-rule-width: 1px;
  columns: auto 2;
  height: 90vh;
  max-width: 100%;
  orphans: 4;
  padding: 5px;
  width: 100%;
}

.content > p {
  margin-top: 0;
  orphans: 0;
  padding: 0;
}

/* footer  can have SVG background images */
.footer {
  bottom: 0;
  height: 5vh;
  left: 0;
  margin-top: 2px;
  page-break-after: always;
  position: fixed;
  text-align: center;
  width: 100%;
}

/* div on the right of the page for chord diagrams, if we want any */
.chords {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  float: right;
  max-height: 590px;
  max-width: 100px;
  width: 50px;
}

/* overflow is a second div for extra chords (10+), appears to the left of the normal chord div */
.overflow {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  float: right;
  max-height: 590px;
  width: 50px;
}

a.middle {
  color: gray;
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
}

.section-header {
  display: inline-block;
}

/* fixed position at bottom of page for branding images, links etc */
.footer img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  max-height: 25px;
  width: auto;
}

.labels {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 0.5em;
}

/* index page is multi-column */
.index {
  column-rule: 1px solid black;
  columns: auto 2;
  counter-reset: page;
  font-size: 11pt;
  margin: auto;
  max-height: 490px;
  overflow: auto;
  width: auto;
}

.credits {
  display: block;
  font-size: 0.6em;
  font-style: italic;
  text-align: left;
}

.container {
  max-height: 100%;
  page-break-after: always;
}

.chord-diagram {
  width: 48px;
}

.chordname {
  font-family: Verdana, "DejaVu Sans", Helvetica, sans-serif;
  font-size: 8px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}

svg.labels {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 0.5em;
}
