@charset "utf-8";

/* core styles, including fonts etc */
@import url("core.css");

/* include our ukedown-specific bits */
@import url("ukedown_elements.css");

/* grid-template: ROWS / COLUMNS */
#container {
  display: grid;
  grid-template: minmax(10px, min-content) 1fr minmax(1px, max-content) / auto minmax(
      min-content,
      14vmin
    );
  grid-template-areas:
    "header chords"
    "content chords"
    "footer footer";
  max-height: 100vh;
}

.content {
  column-fill: auto;
  column-rule: 1px solid black;
  column-width: 31em;
  grid-area: content;
  max-height: 90vh;
}

.chord-diagram {
  width: 7vmin;
}

.chords {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  grid-area: chords;
  max-height: 100vh;
}

.header {
  grid-area: header;
}

.footer {
  background: white;
  bottom: 0;
  height: auto;
  left: 0;
  max-height: 30px;
  position: fixed;
  width: 100%;
}

.index {
  column-rule: 1px solid black;

  /* column-count: 3; */
  column-width: auto;
  grid-area: 1 / 1 / 3 / 3;
  margin: auto;
  overflow: auto;
  width: auto;
}

.chordname {
  font-family: Verdana, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}

.labels {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 0.5em;
}
