@charset 'utf-8';

.indexlink {
  color: inherit;
  font-size: 0.9em;
  text-decoration: none;
}

.chord {
  font-weight: bold;
}

.chord:before {
  content: "(";
}

.chord:after {
  content: ")";
}

.section_header {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.2em;
  margin-top: 0.5em;
  padding-bottom: 0.2em;
}

.section_header:before {
  content: "[";
}

.section_header:after {
  content: "]";
}

.vox {
  font-style: italic;
  font-weight: normal;
}

.vox:before {
  content: "(";
}

.vox:after {
  content: ")";
}

.notes {
  font-style: normal;
  font-weight: bold;
}

.notes:before {
  content: "[";
}

.notes:after {
  content: "]";
}

.repeats {
  font-style: normal;
  font-weight: bold;
}

p {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

/* Box call-outs (repeated chorus etc) */
.box {
  border-left: 3px solid white;
  margin: 2px;
  margin-bottom: 0.5em;
  max-width: 98%;
  padding: 0px;
  padding-bottom: 0;
  padding-top: 0;
  width: auto;
}

.box > p {
  margin-bottom: 0;
  margin-left: 5px;
  margin-top: 0;
}

.box > p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.box > .section_header {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}

/* End box definitions*/
