<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="css/ukebook.css" />
    <title>{{ Songbook }}</title>
    <!-- # also import javascript stuff here if needed -->
</head>
<body>
<div class="content">
{% for song in songlist %}
<a href="{{ song.filename }}" alt="{{ song.title }} - {{ song.artist }}">{{ song.title }} - {{ song.artist }}</a><br/>
{% endfor %}
</div>
<!-- outer div -->
</body>
</html>

