<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="css/{{ book_css }}.css" />
    <title>{{ Songbook }}</title>
    <!-- # also import javascript stuff here if needed -->
</head>
<body>
<div class="index">
{% for song in songs %}
{% if link_type == 'internal' %}
{% set target='#title_%s'|format(song.id) %}
{% else %}
{% set target='songs/%s'| format(song.filename) %}
{% endif %}
<a class="indexlink" id="song_{{ song.id}}" href="{{ target }}" alt="{{ song.title }} - {{ song.artist }}">{{ song.title }} - {{ song.artist }}</a><br/>
{% endfor %}
</div>
<!-- outer div -->
<div class="footer">
<img src="images/karauke_footer.png" alt="footer image with social media links" width="100%"/>
</div>
</body>
</html>

