{% block xmlheader %}{% endblock %}
{#
pass this into jinja 2 with a context (kv pairs, or dict) containing the following entries
name(str)    - chord name, at the top of the diagram
diag_w(px)   - width and height of diagram, in pixels
diag_h(px)   - width and height of diagram, in pixels
radius(px)   - rounding radius of barres, radius of markers
position(px) - starting position (if not fret 0). Positions are relative to this.
                This effectively just puts a number next to fret 0 for info
Lists of coordinates for the rest, barres and fingers use the 'radius' for some settings
origin       - coordinates of top left of fretboard (strings[0][0], strings[0][1])
strings      - list of coords for strings:   [ (x, y1, y2), ]
frets        - list of coords for frets:     [ (x1, x2, y), ]
frets        - list of fret heights:
barres       - list of coords for barres:    [ (x, y, w), ]
fingers      - list of coords for fingering: [ (x, y) ]
#}
{% block vector %}
<svg width="100%"
     height="100%"
     viewBox="0 0 {{ svg.width }} {{ svg.height }}"
     preserveAspectRatio="xMidYMid meet"
     aria-label="{{ name }}"
     role="img"
     class="chord_diagram">
{# our fretboard 'group', draws a grid #}
<g class="fretboard">
<!-- vertical lines are strings -->
{% for s in strings -%}
<line class="string"
x1="{{ s }}" x2="{{ s }}" y1="{{ fboard.top }}" y2="{{ fboard.bottom }}"
stroke="#000"
stroke-width="1"/>
{% endfor -%}
<!-- horizontal lines are frets -->
{% for f in frets -%}
<line class="fret"
 x1="{{ fboard.left }}" x2="{{ fboard.right }}" y1="{{ f }}" y2="{{ f }}"
 stroke="#000"
 stroke-width="1"/>
{% endfor -%}
</g>
<g class="markers">
{% if barre is defined -%}
<rect x="{{ barre.left }}" y="{{ barre.top }}" width="{{barre.width}}" height="{{barre.height}}" rx="{{ radius }}" ry="{{ radius }}"/>
{% endif -%}
{% for f in fingers -%}
{% if f != 0 -%}
<circle cx="{{strings[loop.index0] }}" cy="{{ f }}" r="{{ radius }}" stroke="#000"/>
{% endif -%}
{% endfor -%}
</g>
{# labels etc #}
<g class="chordname">
<text x="50%" y="5" text-anchor="middle" dominant-baseline="hanging">{{ name }}</text>
</g>
<g class="labels">
</g>
</svg>
{% endblock %}
