{% extends "base.html.j2" %}
{% block title %}{{ songbook }}{% endblock %}

{% block localstyles %}
<link rel="stylesheet" type="text/css" href="css/index.css"/>
{% endblock %}
<h1 class="title" id="title_{{ 000 }}">{{ songbook| default('Karauke Songbook') }} Index</h1>
{% block songheader %}

{% endblock %}

{% block content %}
{% for song in songs -%}
      <a class="index" id="song_{{ song.id}}" href="songs/{{ song.filename }}"
         alt="{{ song.title }} - {{ song.artist }}">
        {{ song.title }}
      </a>
      <br/>
{% endfor -%}
</div>
<div class="footer">
<img src="images/karauke_footer.png" alt="footer image with social media links" width="100%"/>
</div>
</body>
</html>

