{% extends "base.html.j2" %}
{% block title %}
{{ song.title|default('') }} - {{ song.artist|default('') }}
{% endblock %}
{% block songheader %}
<h1 class="title" id="title_{{ song.id }}">{{ song.title|default('') }} - {{ song.artist|default('') }}</h1>
{% endblock %}

{% block content %}
{{ song.html }}
{% endblock %}
<!-- show_diagrams: {{ show_diagrams }} -->
{% if show_diagrams %}
  {% if song.chords|length > 10 %}
    {% block overflow %}
      {% for chord in song.chords[10:] %}
<article class="chord_diagram"> {% include 'svg/%s.svg'|format(chord|safe_name) %} </article>
      {% endfor %}
    {% endblock %}
  {% endif %}
  {% block chords %}
    {% for chord in song.chords[:10] %}
<article class="chord_diagram"> {% include 'svg/%s.svg'|format(chord|safe_name) %} </article>
    {% endfor %}
  {% endblock %}
{% else %}
<!-- show_diagrams = {{ show_diagrams }} -->
{% endif %}
{% block footer %}
  <a class="left" href="{{ song._prev }}" accesskey="p">previous</a>
  <a class="middle" href="../index.html" accesskey="i">return to index</a>
  <a class="right" href="{{ song._next }}" accesskey="n">next</a>
{% endblock %}
