{% extends "base.html.j2" %}
{% block title %}
{{ title|default('') }} - {{ artist|default('') }}
{% endblock %}
{% block songheader %}
<h1 class="title" id="title_{{ id }}">{{ title|default('') }} - {{ artist|default('') }}</h1>
{% endblock %}

{% block content %}
{{ html }}
{% endblock %}

{% block chords %}
  {% for chord in chords %}
  <article class="chord_diagram">
  {% include 'svg/%s.svg'|format(chord|safe_name) %}
  </article>
  {% endfor %}
{% endblock %}

{% block footer %}
  <a class="left" href="{{ _prev }}" accesskey="p">previous</a>
  <a class="middle" href="../index.html" accesskey="i">return to index</a>
  <a class="right" href="{{ _next }}" accesskey="n">next</a>
{% endblock %}
