{% extends "song.html.j2" %}
{% block overflow %}
<div class="overflow">
    {% for chord in chords[10:] %}
  <img class="chord_diagram" src="../chords/{{ chord|safe_name }}.svg" alt="{{ chord }}"/>
    {% endfor %}
</div>
  {% endblock %}
{%endif %}

{% block chords %}
<div class="chords">
  {% for chord in chords[:10] %}
<img class="chord_diagram" src="../chords/{{ chord|safe_name }}.svg" alt="{{ chord }}"/>
  {% endfor %}
</div>
{% endblock %}
